.bg{
    background-image: url(im11.jpg);
    background-size:cover;
    min-height: 500PX;
    text-align: center;
    padding-top: 50PX;

}
.h1{
    color: green;
    font-size:75px;
}
.h2{
    color: white;
    font-size: 50px;
}
.h3{
    color: white;
    
}
.last{
    background-color:lightslategray;
    text-align: center;
    color: white;
    font-size:20px;
    position: relative;
}
.leaves{

    position: absolute;
    top: -45px;
    left: 0%;
}
.in{
    margin-top: 100px;
    margin-bottom: 100px;
}

.pa{
    color: white;
}

.intuitive{
    text-align: center;
    font-size: medium;
}

.mint{
    text-align: center;
    padding:50px;
}
.lady{
    text-align: center;

}

.head{
    font-size:12px;
    font-weight: bold;
    text-align: center;
}
.end{
    background-color:white;
    /* min-height: 100px; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.lastline{
    font-size:10px;
    font-weight: bold;
}
.end1{
    background-color:rgb(14, 13, 13);
    min-height: 200px;
    text-align: center;
    margin-top: 50px; 
    /* margin-bottom: 100px;  */
}
.end2{
    background-color:rgb(14, 13, 13);
    
    text-align: center;
    
   
}
.line{
    border: 1px solid rgba(248, 231, 175, 0.767);
    border-radius: 1px;
}
.allsection{
    overflow: hidden;
}
.photo{
    background-color: rgb(247, 247, 243);
}
